
<div class="modal-header">
        <h3 class="modal-title">XXXXXXX</h3>
    </div>
    <div class="modal-body">
        <replaceTag>不要忘记替换哟lalalala</replaceTag>
    </div>
    <div class="modal-footer">
        <div class="text-center">    
            <button class="btn-sm btn btn-primary" type="submit" ng-click="vm.ok()"
                    ng-disabled="vm.submitFlag" uix-btn-loader="vm.submitFlag">确定
            </button>
            <button class="btn btn-sm btn-default" type="button" ng-click="vm.cancel()">取消</button>
        </div>
    </div>